@import "../../assets/style/colors";
@import "../../assets/style/screen";

.page-error {
    height: 70vh;

    &__title {
        letter-spacing: 20px;
        font-size: 7.5rem;
        font-weight: 700;
        color: $color_white;
    }

    &__content {
        color: $color_white;
    }

    &__btn {
        margin: 2rem 0;
        padding: 0.75rem 2.5rem;
        color: $color_white;
        border: 1px solid $color_white;
        border-radius: 10px;

        &:focus,
        &:hover {
            color: $color_white;
            background-color: $color_orange;
            border-color: $color_orange;
            transition: all 750ms;
        }
    }
}

@media #{$mobile} {
    .page-error {
        height: 55vh;
    }
}
